# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de Segurança
CORS_ORIGIN=http://localhost:3000

# Configurações de Upload
MAX_FILE_SIZE=52428800
ALLOWED_FILE_TYPES=docx,pdf

# Configurações de Log
LOG_LEVEL=info

# Configurações PostgreSQL
DB_HOST=192.168.10.17
DB_PORT=5432
DB_NAME=manuais
DB_USER=postgres
DB_PASSWORD=12345678
